@import url("https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:wght@200;300;400;500;600;700&display=swap");

:root {
  --bg-black-900: #f2f2fc;
  --bg-black-100: #fdf9ff;
  --bg-black-50: #e8dfec;
  --text-black-900: #302e4d;
  --text-black-700: #504e70;
}
html {
  width: 100%;
  height: 100%;
}

body {
  background-color: #eff3f4;
  overflow: hidden;
  position: relative;
  font-size: 16px;
  font-family: "Poppins" sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}
.form-z{
  position: relative;
}
.input-box{
  position: relative;
}
.form-z .input-box .icon{
  position: absolute;
  right: 30px;
  top: 15px;
  font-size: 1.5em;
  z-index: 10000;
}
.form-z .input-box .form-control {
  width: 100%;
  height: 50px;
  border-radius: 25px;
  background: var(--bg-black-100);
  border: 1px solid var(--bg-black-50);
  padding: 10px 25px;
  font-size: 20px;
  font-weight: bold;
  color: rgb(8, 8, 8);
}
.btn {
  width: 100%;
  font-size: 20px;
  font-weight: 500;
  padding: 12px 35px;
  color: rgb(253, 249, 249);
  border-radius: 40px;
  display: inline-block;
  white-space: nowrap;
  border: none;
  background: rgb(221, 16, 16);
  transition: all 0.3s ease;
}
.img-z{
  max-width: 100%;
  max-height: 100%;
}
.img-z img{
  border-radius: 40px;
  width: 100%;
  height: 100%;
}
.img-k{
  height: 170px;
  justify-content: center;
  align-items: center;
}
.img-k img{
  position: relative;
  width: 90%;
  height: 90%;
}
@media (max-width: 991px) {
  body{
    overflow-y: scroll;
  }
  .form{
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    border: solid 2px red;
  }
  /* .formulario-z{
    padding: 45% 0 0 0;
  }
  .form-z .form-control{
    width: 100%;
  } */
  .img-k img{
    margin-top: 40px;
  }
} 