:root {
  --blue-50: #eaf3ff;
  --blue-100: #dae9ff;
  --blue-200: #bcd6ff;
  --blue-300: #93b9ff;
  --blue-400: #6890ff;
  --blue-500: #4568ff;
  --blue-600: #253bff;
  --blue-700: #2031e9;
  --blue-800: #1828bb;
  --blue-900: #1d2c92;
  --blue-950: #111855;
}
html {
  width: 100%;
  height: 100%;
}
/* body {
  background-color: var(--background-color);
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
} */

.title-bar {
  background-color: var(--blue-800);
}
.titulo {
  margin-top: 10px;
  color: var(--blue-700);
  font-weight: bold;
}
h3 {
  color: var(--blue-100);
  font-weight: bold;
}
label {
  font-size: 1rem;
  color: var(--blue-950);
}


/*------------------Principal*/
/* h1{
    color: var(--blue-100);
}
.callout {
    background-color: var(--blue-900);
}
.title-bar{
    background-color: var(--blue-800);
}
.card-divider{
    font-weight: bold;
    font-size: 1.5rem;
    color: white;
    background-color: var(--blue-500);
}
.card-section{
    background-color: var(--blue-200);
} */